.section-login{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login {
    max-width: 32rem;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--fundo-card);
    border: 1px solid var(--borda);
    border-radius: 1.5rem;
}

.login-titulo {
    font-family: var(--fonte-titulo), serif;
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.login-subtitulo {
    font-size: 0.95rem;
    margin-bottom: 2rem;
    color: var(--texto-suave);
}

.login-form-grupo {
    margin-bottom: 1.25rem;
}

.login-form-grupo label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.login-form-grupo input[type="email"],
.login-form-grupo input[type="password"] {
    width: 100%;
    padding: 0.875rem  1rem;
    border: 1px solid var(--borda);
    background-color: var(--fundo-card);
    font-family: inherit;
    font-size: 0.95rem;
    color: var(--texto-principal);
    border-radius: 0.75rem;
    transition: border-color 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: var(--primaria);
}

.login-container {
    color: var(--texto-principal);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cadastrar-conta {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--texto-principal);
}


