.item-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.item-categoria:hover button {
    background-color: var(--filtro-hover);
    cursor: pointer;
}
.item-categoria button{
    width: 64px;
    height: 60px;
    border-radius: 100px;
    border: none;
    background-color: var(--filtro);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    padding: 0;
}
.item-categoria button svg {
    color: var(--primaria);
    width: 28px;
    height: 28px;
    stroke-width: 1.5;
}
.item-categoria span {
    font-size: 13px;
    color: var(--texto-suave);
    font-weight: 500;
    text-align: center;
}
.item-categoria.ativo button {
    background-color: var(--primaria);
    border: none;
}

.item-categoria.ativo button svg {
    color: var(--texto-inverso);
}

.item-categoria.ativo span {
    color: var(--primaria);
    font-weight: 600;
}