.recipe-card {
    border: 1px solid #964B00;
    max-width: 316.8px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.imagem-container {
    width: 100%;
}

.imagem-container img {
    width: 100%;
    display: block;
}

.card-info {
    padding: 12px;
}

.tempo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tempo p {
    margin: 0;
}

.dificuldade {
    display: flex;
    align-items: center;
    gap: 8px;
}

.grupo-macro {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}