.chef-card {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.chef-card-image-container {
    flex-grow: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-card-content {
    background-color: #5A2D1D;
    padding: 35px;
    max-width: 400px;
}

.chef-card-content h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.chef-card-content p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.chef-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #c89b3c;
}

.chef-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F4C542;
    margin-bottom: 12px;
}

/* Nome do chef */
.chef-nome {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: white;
    margin-top: 18px;
}

.chef-experiencia {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #E8CFA5;
    margin-top: 5px;
}

/* Botão */
.botao-receita {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 26px;
    background-color: #C0532B;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
}

.botao-receita:hover {
    background-color: #A24322;
    transform: translateY(-2px);
}

.recipe-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.titulo-chef {
    color: #c89b3c !important;
    font-family: "Cormorant Garamond", serif !important;
    font-size: 10px !important;
    font-weight: 700 !important;
}
