.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.highlights-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.highlights-header a {
    cursor: pointer;
}