.form-container {
    max-width: 32rem;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--fundo-principal);
    border-radius: 1.5rem;
    color: var(--texto-principal);
    justify-content: space-between;
    margin: 2rem auto 1.5rem;
}

.form-titulo {
    font-family: var(--fonte-titulo), serif;
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.form-subtitulo {
    font-size: 0.95rem;
    margin-bottom: 2rem;
    color: var(--texto-sutil);
}

