@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

.categorias-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 40px;
    background-color: #FDF8F3;
    flex-wrap: wrap;
}
.categorias-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #3A2E2A;;
    line-height: 1.3;
    margin: 0;
    min-width: 240px;
    font-family: "Playfair Display", serif;
    letter-spacing: -0.5px;
}

.categorias-lista {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}