#botao-1 {
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #C0532B;
    color: white;

}

#botao-2 {


    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #C0532B;
    color: white;
}
